.footer {
    margin-top: 45px;
    background-color: #004C3F;
    .footer__top {
        padding-top: 20px;
        padding-left:10px;
        .footer__top__list {
            border-bottom: 2px solid #D2D5D91A;
            padding-bottom: 10px;
            .footer__top_list__link {
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .footer__middle {
        padding-top: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        ul {
            p {
                color: white;
                text-transform: uppercase;
                padding-bottom: 10px;
            }
        }
        .footer__middle__link {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .footer__bottom {
       padding-top: 20px;
       padding-left: 10px; 
       margin-top: 20px;
       border-top: 2px solid #D2D5D91A;
       .footer__bottom__list {
        display: flex;
        gap: 20px;
        transition: 0.3s ease;
        li {
            a {
                .logos {
                    transform: scale(1.1);
                }
            }
        }
       }
       .footer__bottom__list_second {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            a {
                color: white;
            }
            p {
                color: white;
            }
       }
    }
}

@media (min-width: 700px) {
    .footer {
        .footer__top {
            .footer__top__list {
                display: flex;
                // margin-top: 20px;
                padding-top: 10px;
                padding-bottom: 20px;
                gap: 20px;
            }
        }
        .footer__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer__bottom__list_second {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 900px) {
    .footer {
        .footer__middle {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            gap: 50px;
            .ecom {
                margin-top: 33px;
            }
            .mobile {
                margin-top: 33px;
            }
        }
    }
}