* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins;
}

@font-face {
    font-family: poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}


.container {
    width: 90%;
    margin: 0 auto;
}